permissions: read-all

name: 2-[DEV]

on:
  push:
    branches:
      - 'develop'
env:
  ECR_REPO: ${{ vars.ECR_REPO }}

jobs:
  teste:
    runs-on: ubuntu-latest
    name: teste
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ github.event.pull_request.merged }}
        run: echo "$GITHUB_CONTEXT"
  build:    
    if: ${{ github.event == 'merged' }}
    name: Build Image
    runs-on: ubuntu-latest
  
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Docker Build, tag image to Amazon ECR
        run: |
          echo ${{ env.ECR_REPO }}
          docker build -t ${{ env.ECR_REPO }}:dev  .
          docker tag ${{ env.ECR_REPO }}:dev ${{ env.ECR_REPO }}:latest
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: sa-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Docker push image to Amazon ECR
        run: |
          docker push ${{ env.ECR_REPO }}:dev